.head-buttons {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.left-head {
  display: inline-flex;
  justify-content: space-between;
  width: 400px;
}

.right-head {
  display: inline-flex;
  justify-content: space-between;
  width: 650px;
}

#study-group {
  width: 100px;
  margin-left: 10px;
}
