<div class="page-container">
  <div class="head-buttons">
    <div class="left-head">
      <div>
        <label for="study-group">Учебная группа:</label>
        <select id="study-group" [(ngModel)]="selectedGroup" (change)="onChangeGroup($event)">
          <option *ngFor="let group of groups | async" [ngValue]="group">
            {{group.name}}
          </option>
        </select>
      </div>
      <div>
        <label for="parity-week">Четная неделя</label>
        <input type="checkbox" class="parity-week" id="parity-week" [(ngModel)]="isParity" (change)="onChangeParity($event)">
      </div>
    </div>
    <div class="right-head">
      <button (click)="openGroupCreating()">Новая группа</button>
      <button (click)="openTeacherCreating()">Новый учитель</button>
      <button (click)="openDisciplineCreating()">Новая дисциплина</button>
      <button (click)="openRoleChanging()">Изменить права</button>
    </div>
  </div>
  <app-week isRead="{{false}}" [week]="week | async" ></app-week>
  <button class="save-button" (click)="saveSchedule()">Сохранить расписание</button>
</div>
