<div class="container">
  <div class="left-part">
    <label class="number">{{ number }}</label>
    <input type="checkbox" class="checkbox" (click)="clickCheckbox()">
  </div>
  <div class="right-part" *ngIf="isShow">
    <select class="discipline item">
      <option *ngFor="let discipline of disciplines" [value]="discipline.id">
        {{discipline.name}}
      </option>
    </select>
    <select class="type item">
      <option *ngFor="let type of disciplineTypes" [value]="type.id">
        {{type.name}}
      </option>
    </select>
    <select class="cabinet item">
      <option *ngFor="let cabinet of cabinets" [value]="cabinet.id">
        {{cabinet.number}}
      </option>
    </select>
    <select class="teacher item">
      <option *ngFor="let teacher of teachers" [value]="teacher.id">
        {{teacher.getFullName()}}
      </option>
    </select>
  </div>
</div>
