<p>Вы вошли в приложении для создания и просмотра учебного расписания:</p>
<ul>
  <li><strong>Директор</strong> - может редактировать расписание; создавать новые группы, преподавателей, дисциплины; настраивать права для пользователей</li>
  <li><strong>Учитель</strong> - может просматривать расписание по определенному преподавателю</li>
  <li><strong>Студент</strong> - может просматривать расписание по определенной группе</li>
</ul>
<p>Если в navbar у вас нет ни одной вышеупомянутой вкладки, то обрадитесь к администратору для настройки прав</p>
