<div class="page-container">
  <div class="head">
    <div>
      <label for="teacher">Преподаватель:</label>
      <select id="teacher" [(ngModel)]="selectedId" (change)="onChangeTeacher($event)">
        <option *ngFor="let teacher of teachers | async" [ngValue]="teacher.key">
          {{teacher.fullName}}
        </option>
      </select>
    </div>
    <div>
      <mat-checkbox class="parity-week" [(ngModel)]="isParity" (change)="onChangeParity($event)">
        Четная неделя
      </mat-checkbox>
    </div>
  </div>
  <app-week isRead="{{true}}" [week]="week | async"></app-week>
</div>
